.aplica-personaliza1-container {
  padding: 20px;
  background-color: #bbb7b777;
  box-shadow: 0 4px 100px rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }

  .offer-container {
    background-color: #ffffff4b;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;

    h2 {
      color: #ffffff;
      font-size: x-large;
      margin: 0;
    }

    p {
      margin: 5px 0;
      font-size: 16px;
      color: #ff0000;
    }

    .countdown {
      font-size: xx-large;
      color: #d9534f;
      font-weight: bold;
    }
  }

  .productos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    .producto-item {
      background-color: #fff;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 120px;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }

      p {
        font-size: 14px;
        color: #000000;
        margin-top: 8px;
      }
    }
  }
}
