.personaliza-producto-container {
  padding: 10px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 80px rgba(255, 255, 255, 0.637);
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.178);

  .producto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-radius: 20px;
    overflow: hidden;

    .producto-preview {
      background-image: url(/img/13-imagenes-personaliza3/deira-cartera-bombon/00-boceto-inicial-final-1.png);
      background-color: #ffffff2c;
      background-size: contain; // Mantener la imagen como está
      background-attachment: local;
      border-radius: 50%;
      // border: 1px solid #ff000059;
      box-shadow: 0 0px 100px rgb(255, 255, 255);
      position: relative;
      margin: 10px;
      width: 100%;
      height: auto;
      overflow: hidden;
      transition: transform 0.3s ease;

      &:hover {
        // transform: scale(1.2);
        // box-shadow: 0 2px 60px rgba(255, 255, 255, 0.479);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        transition: border-color 0.3s ease;
        border-radius: 20px;

        &:first-child {
          z-index: 1;
        }

        &:nth-child(n + 2) {
          z-index: 2;
        }
      }
    }

    .tituloopciones {
      margin: 5px;
      font-size: large;
    }

    .personalizacion-capas {
      display: flex;
      flex-direction: column;
      align-items: center;

      .options-container {
        display: flex; // Cambia la visualización a flex
        flex-wrap: wrap; // Permite que los botones se ajusten en varias filas
        justify-content: center; // Centra los botones en la fila

        .option-button {
          margin: 0 7px; // Espaciado horizontal entre botones
          background-image: url(/img/13-imagenes-personaliza3/deira-cartera-bombon/00-boceto-inicial-final-3.png);
          background-color: #ffffff1c;
          background-size: contain; // Mantener la imagen como está
          border-radius: 20px;
          cursor: pointer;
          border: none;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(2);
            box-shadow: 0 2px 60px rgba(255, 255, 255, 0.479);
          }

          &.selected {
            border: 2px dotted #ffd0f3d2;
            box-shadow: 0 2px 60px rgba(255, 0, 0, 0.767);
          }

          .option-img {
            width: 100%; // Ajusta el tamaño según sea necesario
            height: 65px; // Ajusta el tamaño según sea necesario
          }
        }
      }

      .personalizar-acciones {
        margin-top: 20px;

        .guardar-btn,
        .previsualizar-btn {
          background-color: #ff00003d;
          font-size: large;
          color: #ffffff;
          border: none;
          padding: 0px 15px;
          border-radius: 20px;
          cursor: pointer;
          margin-right: 10px;

          &:hover {
            background-color: #ff00009a;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .producto-grid {
      grid-template-columns: 1fr;

      .producto-preview {
        height: 300px; // Ajustar la altura en tabletas
        background-size: cover; // Cambiar a cover si es necesario
      }
    }
  }

  @media (max-width: 480px) {
    padding: 5px;

    h1 {
      font-size: 1.2em;
    }

    .producto-preview {
      height: 250px; // Ajustar la altura en móviles
    }

    .tituloopciones {
      font-size: medium; // Reducir el tamaño de la fuente
    }
  }
}
