.aplica-personaliza1-container {
  padding: 20px;
  background-color: #00000050;
  border-radius: 30px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left-section {
    flex: 1.5;
    margin-right: 20px;

    .visualizacion {
      h2 {
        text-align: center;
        color: #ffffff;
      }

      .cartera {
        position: relative;
        width: 100%;
        border: 1px solid #ffffff;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;

        .cartera-img {
          width: 100%;
          height: auto;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.2);
          }
        }

        .grabado {
          position: absolute;
          bottom: 10px;
          left: 10px;
          color: #ffffff;
          font-size: 14px;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 2px 5px;
          border-radius: 5px;
        }

        .sticker {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: #ff0000;
          padding: 5px;
          border-radius: 50%;
          color: #ffffff;
        }
      }
    }
  }

  .right-section {
    flex: 1;

    .options-table {
      width: 100%;
      table-layout: auto;
      border-collapse: collapse;
      margin-bottom: 0px;
      

      td {
        padding: 2px; /* Menor padding para hacer la tabla más compacta */
        color: #0700648c;
        font-size: small;
        border: 1px solid #ccc; /* Línea divisoria */

        h5 {
          margin: 0;
          text-align: right;
          color: #ffffff;
          font-size: small;
        }
      }

      .option-button {
        background-color: #ffffff;
        color: #000;
        border: none;
        padding: 4px 8px; /* Botones más pequeños */
        margin: 2px;
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #eeeeee;
        }

        &.selected {
          background-color: #8806068f;
          color: #ffffff;
        }
      }
    }

    .text-grabado {
      margin-top: 10px;
      h5 {
        color: #ffffff;
        font-size: small;
      }

      input {
        width: calc(100% - 10px);
        padding: 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: small;
      }
    }

    .stickers {
      margin-top: 10px;

      .sticker-options {
        display: flex;
        flex-wrap: wrap;

        .sticker-button {
          background-color: #ffffff;
          color: #000;
          border: none;
          font-size: small;
          padding: 4px 8px; /* Botones más pequeños */
          margin: 2px;
          border-radius: 5px; /* Bordes redondeados */
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #eeeeee;
          }

          &.selected {
            background-color: #ff00007e;
            color: #ffffff;
          }
        }
      }
    }

    .save-share-buttons {
      margin-top: 10px;

      .save-button,
      .share-button {
        background-color: #ff00003d;
        font-size: small;
        color: #ffffff;
        border: none;
        padding: 0px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          background-color: #ff00009a;
        }
      }
    }
  }
}
