.mini-carrito2 {
  position: fixed;
  top: 10px; // Cambiado a la esquina superior
  right: 10px; // Asegura que esté en la esquina superior derecha
  background: rgba(4, 25, 143, 0.788); // Color de fondo semi-transparente
  border: #0127ff62 1px solid;
  border-radius: 10px;
  padding: 0 20px; // Reduce el padding para que ocupe menos espacio
  z-index: 1000;
  display: flex;
  flex-direction: row; // Cambia a fila
  align-items: center; // Alinea verticalmente
  transition: all 0.3s ease;
  box-sizing: border-box;

  &.minimized {
    width: auto; // Permite que el ancho se ajuste automáticamente
    height: auto; // Permite que la altura se ajuste automáticamente
    padding: 5px; // Reduce el padding
    overflow: hidden;

    .carrito-acciones {
      flex-direction: row;

      .botonComprar1 {
        padding: 2px 5px; // Reduce el padding
        font-size: medium; // Reduce el tamaño de fuente

        h3 {
          font-size: 0.7rem; // Reduce el tamaño de fuente
        }
      }
    }
  }

  .flota-carrito-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box; // Incluye padding y border en el cálculo del ancho
    margin: 0;
    padding: 0;
  }

  .carrito-header {
    display: flex; // Cambia a flex para que se alineen en fila
    justify-content: space-between; // Distribuye el espacio entre los elementos
    align-items: center; // Alinea verticalmente
    width: 100%;
    margin-bottom: 5px; // Reduce el margen inferior

    .header-text,
    .header-total {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    .header-text {
      .texto-carrito {
        font-size: small;
        color: #00e1ff;
        font-weight: bold;
      }

      .icono-carrito {
        color: #ffffff;
        font-size: large;
      }
    }

    .header-total {
      .texto-total {
        font-size: medium;
        color: #ffffff;
        font-weight: bold;
        margin-right: 5px; // Reduce el margen derecho
      }

      .tituloPrecioCarrito {
        font-size: medium;
        font-weight: bold;
        color: #00ffff;
      }
    }
  }

  .carrito-acciones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; // Permite que el ancho se ajuste automáticamente
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    .botonComprar1 {
      background-color: #01156e7a;
      border: none;
      color: #000000;
      padding: 5px 10px; // Reduce el padding
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #026c9cce;
      }

      &:disabled {
        background-color: #4c113557;
        cursor: not-allowed; // Cambia el cursor cuando el botón está desactivado
      }

      .tituloImportante1 {
        font-size: small;
      }

      .textoMovimiento {
        color: white !important;
      }

      &.minimized {
        padding: 2px 5px; // Reduce el padding
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-size: xx-small; // Reduce el tamaño de fuente
        }
      }
    }

    .toggle-button {
      background: transparent;
      border: none;
      color: #ffffff;
      font-size: x-large;
      cursor: pointer;
      margin-left: 10px;
      transition: color 0.3s ease;

      &:hover {
        color: #ffd901;
      }
    }
  }

  .tooltip {
    position: absolute;
    bottom: 70px; // Posición del tooltip sobre el carrito
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    font-size: small;
    z-index: 999;
  }

  // Estilos responsivos
  @media (max-width: 768px) { // Para tablet y móvil
    width: auto; // Permite que el ancho se ajuste automáticamente

    .carrito-header,
    .carrito-acciones {
      flex-direction: row; // Asegura que se alineen en fila
      width: auto; // Permite que el ancho se ajuste automáticamente
      justify-content: space-between; // Distribuye el espacio entre los elementos
      align-items: center; // Alinea verticalmente
    }

    .flota-carrito-conteiner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .carrito-acciones {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .toggle-button {
        display: none; 
      }
    }
  }
}
