.TiendaImgAgrandar-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.89); // Fondo oscuro para un look elegante
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.TiendaImgAgrandar-modal-content {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5); // Sombra más intensa
  max-width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: scaleUp 0.3s ease;
  background: rgba(255, 255, 255, 0.253); 
}

.TiendaImgAgrandar-modal-image {
  max-width: 100%;
  max-height: 80vh; // Ajuste del área visible de la imagen
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease;
}


.TiendaImgAgrandar-close-button {
  position: absolute;
  top: 20px;
  right: 40px; // Ajustado para mejor ubicación
  font-size: 50px; // Tamaño de fuente más grande
  color: #003cff; // Color vibrante
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.TiendaImgAgrandar-close-button:hover {
  color: #5a5a5a; // Color más intenso al pasar el cursor
  transform: scale(1.5); // Escala al pasar el cursor
}

.TiendaImgAgrandar-prev-button,
.TiendaImgAgrandar-next-button {
  position: absolute;
  bottom: 20%;
  color: #0400ff; 
  box-shadow: 0 10px 30px rgb(0, 0, 0); // Sombra más intensa
  border: none;
  border-radius: 50%;
  padding: 5px; // Ajuste del padding
  cursor: pointer;
  font-size: xx-large; // Tamaño de fuente ajustado
  z-index: 10;
}

.TiendaImgAgrandar-prev-button {
  left: 20px;
}

.TiendaImgAgrandar-next-button {
  right: 20px;
}

.TiendaImgAgrandar-prev-button:hover,
.TiendaImgAgrandar-next-button:hover {
  color: #010d7c; 
}

// Animaciones
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
